<div class="col-md-6 col-md-offset-3">
    <h3>Reset Password</h3>
    <div class="inner">
        <form class="login-form row" [formGroup]="myForm" (submit)="onSubmit()">
            <div class="col-sm-12">
                <p class="fieldError"
                    *ngIf="myForm.controls.token.errors?.remote  && (myForm.controls.token.dirty || submitAttempt)">
                    {{myForm.controls.token.errors?.remote}}</p>
                <p class="fieldError"
                    *ngIf="myForm.controls.token.errors?.required  && (myForm.controls.token.dirty || submitAttempt)">
                    Token</p>
                <input type="text" class="form-control" placeholder="Token" required formControlName="token"
                    [class.invalid]="!myForm.controls.token.valid  && submitAttempt">
            </div>
            <div class="col-sm-12">
                <p class="fieldError"
                    *ngIf="myForm.controls.password.errors?.remote  && (myForm.controls.password.dirty || submitAttempt)">
                    {{myForm.controls.password.errors?.remote}}</p>
                <p class="fieldError"
                    *ngIf="myForm.controls.password.errors?.required  && (myForm.controls.password.dirty || submitAttempt)">
                    Email required</p>
                <input type="text" class="form-control" placeholder="Password" required formControlName="password"
                    [class.invalid]="!myForm.controls.password.valid  && submitAttempt">
            </div>
            <div class="col-sm-12">
                <p class="fieldError"
                    *ngIf="myForm.controls.confirmPassword.errors?.remote  && (myForm.controls.confirmPassword.dirty || submitAttempt)">
                    {{myForm.controls.confirmPassword.errors?.remote}}</p>
                <p class="fieldError"
                    *ngIf="myForm.controls.confirmPassword.errors?.required  && (myForm.controls.confirmPassword.dirty || submitAttempt)">
                    Confirm Email required</p>
                <input type="text" class="form-control" placeholder="Confirm password" required formControlName="confirmPassword"
                    [class.invalid]="!myForm.controls.confirmPassword.valid  && submitAttempt">
            </div>
            <div class="form-footer col-sm-12">
                <div class="form-submit">
                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Sign up</button>
                </div>
            </div>
        </form>
        <!-- .login-form -->
    </div>

</div>