<div class="col-md-6 col-md-offset-3">
    <h3>Add product to wishlist</h3>
    <div class="inner">
        <div class="form-footer col-sm-12">
            <div class="form-submit">
                <button routerLink="/welcome/searchProduct" type="button"
                    class="btn btn-primary btn-block waves-effect waves-light">
                    Search Product
                </button>
                <button routerLink="/welcome/addAmazonProduct" type="button"
                    class="btn btn-primary btn-block waves-effect waves-light">
                    Amazon Product
                </button>
            </div>
        </div>

    </div>